
.containerFooter{
  height: 100px;
  width: 100%;
  text-align: center;
  padding-top: 20px;
  color: #fff;
  background-color: #000;
  border-top: 1px solid #df0056
}

.logoFooter {
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #df0056;
  font-weight: 600;
 
}
.containerFooter p {
  font-size: 10px;
  margin-top: 10px;
}


@media (max-width: 767px){
.logoFooter{
  font-size: 20px;
}

}