
.btnDeletar{
  background-color: #9c0404;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnDeletar:hover {
  background-color: #d10303; /* Cor mais escura no hover */
}


.btnEditar {
  background-color: #023802;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btnEditar:hover {
  background-color: #026502; /* Cor mais escura no hover */
}

.carousel-container {
  overflow: hidden; /* Esconde os itens fora da área visível */
  width: 100%;
  position: relative;
  cursor: grab; /* Cursor de arrasto */
}

.carousel-container:active {
  cursor: grabbing; /* Cursor ao arrastar */
}

.carousel-track {
  display: flex;
  gap: 16px;
  transition: transform 0.3s ease-in-out; /* Suavidade ao parar o arrasto */
}

.video-item {
  flex: 0 0 300px; /* Cada vídeo tem uma largura fixa */
  scroll-snap-align: start; /* Alinha os itens ao parar o scroll */
}



