
.btnDeletar{
  background-color: #9c0404;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnDeletar:hover {
  background-color: #d10303; /* Cor mais escura no hover */
}


.btnEditar {
  background-color: #023802;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btnEditar:hover {
  background-color: #026502; /* Cor mais escura no hover */
}



